html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.App {
  text-align: center;
}

.spinner {
  animation: spin infinite 1s linear;

  /*You can increase or decrease the timer (5s) to 
   increase or decrease the speed of the spinner*/
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hiddenElement {
  opacity: 0;
  filter: blur(5px);
}

.appearingElement {
  opacity: 1;
  filter: blur(0);
  transition: all 0.5s ease-out;
}

.projectContainer:hover > .projectCard {
  transform: rotateY(180deg);
}

.projectCard {
  transition: all 0.4s;
  transform-style: preserve-3d;
}

.projectShadow {
  box-shadow: 1px 1px 7px rgb(39, 192, 219), -1px -1px 7px rgb(39, 192, 219);
}

.projectFront {
}

.projectBack {
  position: absolute;
  top: 0;
  height: 100%;
  text-align: center;
  transform: rotateY(180deg);
}

.projectFront,
.projectBack {
  backface-visibility: hidden;
}
